.project__list {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    &-item {
        .image {
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            a {
                img {
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    @include mid;
                    @include transition($t);
                }
            }
            :hover {
                img {
                    @include transform(translate(-50%, -50%) scale(1.05));
                }
            }
        }
        .film {
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
            .btn-play {
                width: 40px;
                height: 40px;
                @include mid;
                svg {
                    * {
                        fill: rgba($color: #fff, $alpha: 0.7);
                    }
                }
            }
        }
        .textbox__project {
            width: 100%;
            padding-top: 35px;
            text-align: center;
            .title__project {
                @include text($fz-text, "Bold", $lh-text-infor, $black-cl, upperCase);
            }
            .creator__project {
                li {
                    @include text($fz-text, "Regular", $lh-textbox, $black-cl, none);
                }
            }
        }
    }
    &.active {
        display: grid;
    }
    @include mobile {
        grid-template-columns: 1fr;
        &-item {
            .image {
                height: 250px;
            }
        }
    }
}
.project__groups {
    display: flex;
    justify-content: center;
    ul {
        @include midflex;
        li {
            padding: 0 20px;
            @include text($fz-text, "Light", $lh-text-infor, $black-cl, upperCase);
            cursor: pointer;
            &.bold {
                font-family: "SB";
            }
        }
    }
    padding-bottom: 15px;
}
.booking {
    display: flex;
    p {
        max-width: 100px;
        text-align: right;
        @include text(14px, "Regular", $lh-textbox, $black-cl, none);
    }
    &__now {
        max-width: 100px;
        width: 100px;
        height: 100px;
        background-color: $title-main-cl;
        cursor: pointer;
        position: relative;
        margin-left: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        @include transition($t);
        a {
            width: 100%;
            height: 100%;
            h2 {
                @include mid;
                @include text(24px, "EX", $lh-text-infor, $main-bg-cl, upperCase);
                span {
                    @include text(27px, "EX", $lh-text-infor, $main-bg-cl, upperCase);
                }
            }
        }
        &:hover {
            background-color: $main-bg-cl;
            @include transition($t);
            a {
                h2 {
                    color: $title-main-cl;
                    span {
                        color: $title-main-cl;
                    }
                }
            }
        }
    }
    &.left {
        flex-direction: row-reverse;
        justify-content: flex-end;
        p {
            text-align: left;
        }
        .booking__now {
            margin-left: initial;
            margin-right: 15px;
        }
    }
}
.btn-fullScreen {
    @include midflex;
    p {
        @include text($fz-text, "Regular", $lh-text-infor, $black-cl, none);
        padding-right: 20px;
    }
    .image {
        width: 25px;
        height: 25px;
        @include midflex;
        .svg {
            cursor: pointer;
            width: 15px;
        }
    }
}
.btn-previous {
    @include midflex;
    a {
        @include text($fz-text, "Regular", $lh-text-infor, $black-cl, none);
        padding-right: 20px;
    }
    .svg {
        cursor: pointer;
        width: 15px;
        @include transform(translateX(0px));
        @include transition($t);
    }
    &:hover {
        .svg {
            @include transform(translateX(-10px));
            @include transition($t);
        }
    }
}
.number {
    background-color: $main-bg-cl;
    @include midflex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    p {
        @include text($fz-text-m, "Regular", $lh-textbox, $black-cl, upperCase);
    }
    h2 {
        @include text(62px, "bold", 62px, $black-cl, upperCase);
    }
}
.more {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 80px;
    a {
        @include text($fz-text, "SB", $lh-text-infor, $black-cl, upperCase);
        padding-bottom: 15px;
    }
    .arrow {
        width: 20px;
        height: 20px;
        @include transform(translateY(0));
        @include transition($t);
    }
    &:hover {
        .arrow {
            @include transform(translateY(10px));
            @include transition($t);
        }
    }
}
.form-group {
    display: flex;
    flex-direction: column;
    &.invalid .form-message {
        color: #f33a58;
    }

    #picker-from {
        cursor: pointer;
    }
    #picker-to {
        cursor: pointer;
    }
}
.overlay {
    @include full-fixed;
    @include hidden;
    @include transform(scale(0));
    transform-origin: center center;
    @include transition(all $t easy-in-out);
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 1000;
    .modal {
        position: absolute;
        width: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: #fff 2px solid;
        .modal__inner {
            position: relative;
            // overflow: hidden;
            display: block;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
            /* Then style the iframe to fit in the container div with full height and width */
            .iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
            .modal__close {
                position: absolute;
                width: 32px;
                height: 32px;
                top: -10px;
                right: -10px;
                background-color: #fff;
                border-radius: 50%;
                z-index: 10000;
                cursor: pointer;
                @include midflex;
                @include text(18px, 'Bold', normal, $black-cl, upperCase);
            }
        }
    }
    &.open {
        @include visible;
        @include transform(scale(1));
    }
}
