img{
    display: block;
    margin: auto;
    max-width: 100%;
    object-fit: cover;
}
a{
    color: $black-cl;
    text-decoration: none;
    display: block;
}
strong {
    font-family: bb;
    font-weight: bold;
}