* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    background: #f4f4f4;
    @include custom-scrollbar;
    @include text($fz-text, Arial, $lh-textbox, $text-black-cl, none);
    &.noScroll{
        overflow: hidden;
    }
}