.project{
    .project__details{
        .container{
            padding: 0;
            &::after{
                content: '';
                width: 100%;
                height: 2px;
                background-color: $black-cl;
                display: block;
                margin: 55px 0;
            }
        }
        &-control{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                @include text(14px, 'Light', 22px, $black-cl, upperCase);
            }
        }
        &-image{
            position: relative;
            width: 100%;
            height: 530px;
            overflow: hidden;
            cursor: pointer;
            .image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .flickity-button {
                height: 60px;
                @include transition(transform $t ease-in-out);
            }
            .flickity-button.previous {
                left: 0;
                border-radius: 0px 4px 4px 0px;
                @include transform(translateX(-100%));
            }
            .flickity-button.next {
                right: 0;
                border-radius: 4px 0px 0px 4px;
                @include transform(translateX(100%));
            }
            &:hover {
                .flickity-button {
                    @include transform(translateX(0));
                }
            }
            @include tablet {
                .flickity-button {
                    display: none;
                }
            }
        }
        &-infor{
            padding-top: 35px;
            display: flex;
            justify-content: space-between;
            .description{
                max-width: 30%;
                h2{
                    @include text(14px, 'Light', 22px, $black-cl, upperCase);
                    letter-spacing: 2px;
                }
                p{
                    @include text($fz-text-m, Arial, 22px, $black-cl, none);
                }
            }
            .client{
                h2{
                    @include text(14px, 'Light', 22px, $black-cl, upperCase);
                    letter-spacing: 2px;
                }
                p{
                    @include text($fz-text-m, Arial, 22px, $black-cl, none);
                }
            }
            .aboutteam{
                h2{
                    @include text(14px, 'Light', 22px, $black-cl, upperCase);
                    letter-spacing: 2px;
                }
                ul{
                    li{
                        @include text($fz-text-m, Arial, 22px, $black-cl, none);
                        span{
                            @include text($fz-text-m, Arial, 22px, $black-cl, upperCase);
                        }
                    }
                }
            }
        }
        @include mobile{
            .project__details-control{
                margin: 0 12px;
            }
            .project__details-image{
                height: 250px;
            }
            .project__details-infor{
                flex-direction: column-reverse;
                margin: 0 12px;
                padding-top: 0;
                .description{
                    max-width: initial;
                }
                .client{
                    padding: 40px 0;
                }
            }
        }
    }
}